/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body{
  /*background:yellow;*/
  background:white;
  margin: 0 auto;
  text-align: center;
  /*background-image: url('http://i.imgur.com/A05XfB0.png')*/
}

 /*Buttons on table.*/

 td a {

background: #dbd7db;
  background-image: -webkit-linear-gradient(top, #dbd7db, #a6a6a6);
  background-image: -moz-linear-gradient(top, #dbd7db, #a6a6a6);
  background-image: -ms-linear-gradient(top, #dbd7db, #a6a6a6);
  background-image: -o-linear-gradient(top, #dbd7db, #a6a6a6);
  background-image: linear-gradient(to bottom, #dbd7db, #a6a6a6);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: black;
  font-size: 14px;
  /*padding: 3px 5px 3px 5px;*/
  /*padding: 10px 20px 10px 20px;*/
   padding: 3px 5px 3px 5px;
  text-decoration: none;
 }


 td{
  padding: 20px 10px;
 }


 /*The a tags controls links to the flow through different pages*/
 /*I used css generator for the perfect buttons.*/

 a{
  background: #dbd7db;
  background-image: -webkit-linear-gradient(top, #dbd7db, #a6a6a6);
  background-image: -moz-linear-gradient(top, #dbd7db, #a6a6a6);
  background-image: -ms-linear-gradient(top, #dbd7db, #a6a6a6);
  background-image: -o-linear-gradient(top, #dbd7db, #a6a6a6);
  background-image: linear-gradient(to bottom, #dbd7db, #a6a6a6);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: black;
  font-size: 16px;
  /*padding: 3px 5px 3px 5px;*/
  /*padding: 10px 20px 10px 20px;*/
   padding: 6px 5px 6px 5px;
  text-decoration: none;

 }

 
 /*This is for the table on thoughts page, it has to be in application.css folder to work*/
table{
 
display: flex;
justify-content: center;
padding-top:10px;
/*padding-top: 20px;
padding-bottom: 20px; */
margin-top: 20px;
margin-bottom: 20px; 

}

/*td{

 background-color: purple;

}*/

.div_for_comments

{
  /*background: yellow;*/
  /*background-image:url('http://i.imgur.com/66Btqmc.png') ;*/
  /*width:80%;
  margin: 0 auto ;
  border-radius: 10%;*/
 }

