// Place all the styles related to the Thoughts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// H1 for Thoughts
// .h1_new{
//  text-align: Center;
//  color: blue;
// }

//Style for table on thought page.
td{
//  background: rgba(black,0.7)
background: grey;
color: black; 
// margin-top: 20px;
// margin-bottom: 20px; 
}


.welcome-header{
 text-align: Center;
 color: blue;
//  background-color: white;

}

 h2 {
    text-align: center;
    // font-weight: bold;
    // padding: 5px 5px 5px 15px;
    // font-size: 16px;
    // margin: -7px -7px 0;
    // background-color: #FFFF00;
    // color: black;
  }

  h3{
    text-align: center;

  }

 td a {

  color: black;
  background: white;
  text-decoration:none;
  
 }

//Show from heading 
.add-a-comment{
  font-size:30px;
  padding-top: 15px;
}

//Form one sees on the comment page once show button is pushed. 
.show-form{
  background-color: black;
  color: white;
  height: 40vh;
  font-size:20px;
}

